@import '../../style/color.scss';
$header-height:50px;
:global(.ant-layout) {
    height: 100%;
}

.home {
    position: relative;
    padding-top: $header-height;
    box-sizing: border-box;
}

.header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: $header-height;
    background: $header-bg-color;
    color:$header-color;
}
.body{
    position: relative;
}